<script>
window.dataLayer.push({
        'event': 'virtualPageView',
        'buttonName': 'Import Page'
    })
</script>
<div class="border">
    <div class="content">
        <span>
            <button class="resetBtn" type="button" (click)="openTut()">
                View Tutorial
            </button>
        </span>
        <div>
            <h2>Import:</h2>
        </div>
        <table>
            <tr style="height: 24px; font-size: 12pt;">
                <td> <mat-label>Select the number of questions:</mat-label></td>
                <td> <input style="background-color: rgb(236, 236, 236); padding: 4px;" matInput type="number" placeholder="1-20" min="1" max="20" [(ngModel)]="numQuestions" required> </td>
            </tr>
        </table>
        <div class="uploadcontainer" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
            <label class="label">
                <input (change)="onChange($event)" type="file" accept=".csv" multiple="false" class="input"/>
                Add Attachment...
                <div class="filename">Selected File: {{filename || "None"}}</div>
            </label>
        </div>
        <br>
        <app-regular-secondary-btn buttontext="Import" type="button" (click)="fileChangeListener(file)"></app-regular-secondary-btn>
        <br>
        <div>
            <button class="resetBtn" type="button" (click)="reset()">
                Reset
            </button>
        </div>
        <!-- container for table -->
        <div *ngIf="csvRecords.length > 0" class="tblContainer">
            <table class="tblBody">
                <!-- made sure to select only keys[0] since the rest of the array will be the same, and we need the values from any of those subarrays -->
                <!-- same reason for the {{keys[0][i]}} -->
                <th *ngFor="let key of keys[0]; let i = index">
                    <ul class="tblHeader">{{keys[0][i]}}</ul>
                </th>
                <!-- create a row for each entry in csvRecords and then create a column for the count of each data entry for each csvRecord -->
                <!-- the getRowId function gets the id of the row from its id attribute upon clicking -->
                <tr [id]="'row' + [x]" class="dataRow" *ngFor="let record of csvRecords; let x = index" (click)="getRowId($event)">
                    <td style="align-items: center; padding: 0px !important;" *ngFor="let datum of data[x]; let i = index" [ngClass]="">
                        <ul style="pointer-events: none;" class="tblText">{{data[x][i]}}</ul>
                    </td>
                </tr>
                <tr>
                    <td class="hintText" colspan="3">
                        First row is selected by default. Click another row to select it.
                    </td>
                </tr>
            </table>    
        </div>
        <div class="rowLabel" *ngIf="csvRecords.length > 0">
            Selected: Row {{displayData}}
        </div>
    </div>
</div>