@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#submit-button{
  float: right;
}

#infoTbl {
  font-size: 12pt;
}

.rowLabel{
  padding-right: 24px;
}


.noBorder{
  border: none;
  box-shadow: none;
}

.successConfirm{
  width: 50vw;
  background: white;
  border: #3CB043 2px solid;
  padding: 4px;
  text-align: center;
  margin: auto;
  margin-bottom: 8px;
  border-radius: 16px;
  font-size: 16pt;
}

#successConfirmText{
  align-items: center;
  text-align: center;
}

#closeBtnContainer{
  right: 25vw;
  position: absolute;
}

.hidden {
  visibility: hidden;
  display: none;
}

