<body>
    <div class="container">
        <mat-card>
            <mat-form-field appearance="fill" class="buffer">
                <mat-label>Filter By:</mat-label>
                <mat-select (selectionChange)="chgFilt()" [(ngModel)]="origFilt.selectedVal">
                    <mat-option *ngFor="let filter of typeOfFilter" [value]="filter" > {{filter}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isUser">
                <mat-label>Choose a User</mat-label>
                <mat-select multiple [(ngModel)]="filters.completedBy" [formControl]="myControlUser"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let user of EmployeeIDsList" [value]="user.FullName"> {{user.FullName}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isProd">
                <mat-label>Choose a Product</mat-label>
                <mat-select multiple [(ngModel)]="filters.product" [formControl]="myControlProduct"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let prod of ProductList" [value]="prod.product_name"> {{prod.product_name}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isDate">
                <mat-label>Choose a Date</mat-label>
                <mat-select multiple [(ngModel)]="filters.dateCompleted" [formControl]="myControlDate"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let date of DateList" [value]="date.datecompleted"> {{date.datecompleted}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isFeedType">
                <mat-label>Choose a Feedback Type</mat-label>
                <mat-select multiple [(ngModel)]="filters.feedbackType" [formControl]="myControlFeedType"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let feedtype of FeedbackTypeList" [value]="feedtype.feedback_name"> {{feedtype.feedback_name}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isRespType">
                <mat-label>Choose a Respondee Type</mat-label>
                <mat-select multiple [(ngModel)]="filters.respondeeType" [formControl]="myControlRespType"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let resptype of RespondeeTypeList" [value]="resptype.respondee_type"> {{resptype.respondee_type}} </mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="filter()" id="filter-button" *ngIf="chosenFilter">
                Filter
            </button>


            <button (click)="clearFilters()" id="clear-button">
                Clear Filters
            </button>

            <table mat-table 
                    id="feedbackList" 
                    [dataSource]="this.subFeedbackList" 
                    multiTemplateDataRows>

                <ng-container matColumnDef="{{column.key}}" *ngFor="let column of displayedColumns" class="totalRows">
                    <th mat-header-cell *matHeaderCellDef class="headers">
                        {{column.header}}
                    </th>
                    <td mat-cell *matCellDef="let feedback" class="displayCells" (click)="viewAnswers(feedback)">
                        {{feedback[column.key]}}
                    </td>
                </ng-container>

                <tr>
                    <td>
                        No available feedback for the selected filter values.
                    </td>
                </tr>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let feedback" [attr.colspan]="columnsToDisplay.length">
                        <div [@detailExpand]="feedback == expandedFeedback ? 'expanded' : 'collapsed'"
                            class="expandedDetails">
                            <div>
                                <div></div>
                                <div>
                                    <tr class="answer-labels">
                                        <td class="answerWidth">
                                            Question Name
                                        </td>
                                        <td class="answerWidth">
                                            Answer
                                        </td>
                                        <td class="answerWidth">
                                            Rating
                                        </td>
                                    </tr>
                                    <tr *ngFor="let answer of retrievedAnswers" class="answer-text">
                                        <td class="answerWidth">
                                            {{answer.question_name}}
                                        </td>
                                        <td class="answerWidth">
                                            {{answer.review}}
                                        </td>
                                        <td class="answerWidth">
                                            {{answer.rating}}
                                        </td>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsKeys; sticky: true"></tr>
                <tr mat-row *matRowDef="let feedback; columns: displayedColumnsKeys;"
                    class="feedbackrow"
                    [class.example-expanded-row]="expandedFeedback === feedback"
                    (click)="expandedFeedback = expandedFeedback === feedback ? null : feedback">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
        </mat-card>
    </div>    
</body>

