@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

mat-stepper {
  background-color: lightblue;
}

td{
    text-align: center;
    padding: 8px;
    width: 10vw;
}

#labels{
  border-bottom: 1px solid black !important;
  font-weight: 500;
  height: 56px;
}

#filter-button{
    color: #0093d0;
    font-size: 16pt;
    padding: 16px;
    font-weight: 500;
}

#filter-button:hover{
    color: #29a1d4;
}

#filter-button:active{
    color:#007eb4;
}

#clear-button{
    color: #0093d0;
    font-size: 12pt;
    padding: 12px;
    float:right;
}
#clear-button:hover{
    color: #29a1d4;
}

#clear-button:active{
    color:#007eb4;
}

.buffer{
    padding-right: 24px;
}

mat-label{
    font-size: 14pt;
}

tr {
    border-bottom: 1px #c3c3c3 solid;
    height: 56px;
}

::ng-deep .mat-form-field-flex{
  height: 60px;
}

.hint-text{
  font-size: 8pt;
}

mat-select{
  font-size: 12pt;
}

 /* add padding to text */
::ng-deep .mat-select-min-line{
  margin-top: 2px;

}