@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

mat-stepper {
  background-color: lightblue;
}

/* tr:nth-child(even){
  background-color: #eeeeee;
  border-spacing: 0ch;
} */

#filter-button{
    color: #0093d0;
    font-size: 16pt;
    padding: 16px;
    font-weight: 500;
}

#filter-button:hover{
    color: #29a1d4;
}

#filter-button:active{
    color:#007eb4;
}

#clear-button{
    color: #0093d0;
    font-size: 12pt;
    padding: 12px;
    float:right;
}
#clear-button:hover{
    color: #29a1d4;
}

#clear-button:active{
    color:#007eb4;
}

.buffer{
    padding-right: 24px;
}

mat-label{
    font-size: 14pt;
}

::ng-deep .mat-form-field-flex{
  height: 60px;
}

mat-select{
  font-size: 12pt;
}

 /* add padding to text */
::ng-deep .mat-select-min-line{
  margin-top: 2px;
}

tr{
  border: 0.5px solid whitesmoke;
}

#feedbacklist{
  width: 100%;
}

.headers{
  font-size: 12pt;
  font-weight: 500;
  text-align: center;
  color: black;
}

td{
  width: 15vw;
}

.feedbackEntry{
  padding: 8px;
  font-size: 12pt;
  border-collapse: collapse;
}

.expandedDetails{
  display: flex;
  overflow: hidden;
  margin-left: 96px;
}

.feedbackrow{
  background: white;
  height: 56px;
}

.displayCells{
  text-align: center;
}

.feedbackrow:hover{
  cursor: pointer;
  background-color: ghostwhite;
}

.detail-row{
  height: 0;
}

.mat-column-expandedDetail{
  text-align: center;
}

.answer-labels{
  font-size: 10pt;
  font-weight: 500;
}

.answerWidth{
  width: 25vw;
  padding: 8px;
}

.answer-text:nth-child(even){
  background-color: rgb(245, 245, 245);
}