<body>
    <div class="container">
        <mat-card>
            <mat-form-field appearance="fill" class="buffer">
                <mat-label>Filter By:</mat-label>
                <mat-select (selectionChange)="chgFilt()" [(ngModel)]="origFilt.selectedVal">
                    <mat-option *ngFor="let filter of typeOfFilter" [value]="filter" > {{filter}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isUser">
                <mat-label>Choose a User</mat-label>
                <mat-select multiple [(ngModel)]="filters.completedBy" [formControl]="myControlUser"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let user of EmployeeIDsList" [value]="user.FullName"> {{user.FullName}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isProd">
                <mat-label>Choose a Product</mat-label>
                <mat-select multiple [(ngModel)]="filters.product" [formControl]="myControlProduct"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let prod of ProductList" [value]="prod.product_name"> {{prod.product_name}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isDate">
                <mat-label>Choose a Date</mat-label>
                <mat-select multiple [(ngModel)]="filters.dateCompleted" [formControl]="myControlDate"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let date of DateList" [value]="date.datecompleted"> {{date.datecompleted}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isFeedType">
                <mat-label>Choose a Feedback Type</mat-label>
                <mat-select multiple [(ngModel)]="filters.feedbackType" [formControl]="myControlFeedType"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let feedtype of FeedbackTypeList" [value]="feedtype.feedback_name"> {{feedtype.feedback_name}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="isRespType">
                <mat-label>Choose a Respondee Type</mat-label>
                <mat-select multiple [(ngModel)]="filters.respondeeType" [formControl]="myControlRespType"  (selectionChange)="enableFilters()">
                    <mat-option *ngFor="let resptype of RespondeeTypeList" [value]="resptype.respondee_type"> {{resptype.respondee_type}} </mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="filter()" id="filter-button" *ngIf="chosenFilter">
                Filter
            </button>


            <button (click)="clearFilters()" id="clear-button">
                Clear Filters
            </button>

            <!-- <div class="hint-text"> 
                *if the text is small for whatever reason, just refresh the page. 
                <br> 
                It happens when you switch between the Feedback Form and the Feedback List.
            </div> -->

            <table mat-table 
                    id="feedbackList" 
                    [dataSource]="this.subFeedbackList" 
                    multiTemplateDataRows>

                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay" class="totalRows">
                    <th mat-header-cell *matHeaderCellDef class="headers">
                        {{column}}
                    </th>
                    <td mat-cell *matCellDef="let feedback" class="displayCells" (click)="viewAnswers(feedback)">
                        {{feedback[column]}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let feedback" [attr.colspan]="columnsToDisplay.length">
                        <div [@detailExpand]="feedback == expandedFeedback ? 'expanded' : 'collapsed'"
                            class="expandedDetails">
                            <div>
                                <div>
                                    <tr class="answer-labels">
                                        <td class="answerWidth">
                                            Question Name
                                        </td>
                                        <td class="answerWidth">
                                            Answer
                                        </td>
                                        <td class="answerWidth">
                                            Rating
                                        </td>
                                    </tr>
                                    <tr *ngFor="let answer of retrievedAnswers" class="answer-text">
                                        <td class="answerWidth">
                                            {{answer.question_name}}
                                        </td>
                                        <td class="answerWidth">
                                            {{answer.review}}
                                        </td>
                                        <td class="answerWidth">
                                            {{answer.rating}}
                                        </td>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let feedback; columns: columnsToDisplay;"
                    class="feedbackrow"
                    [class.example-expanded-row]="expandedFeedback === feedback"
                    (click)="expandedFeedback = expandedFeedback === feedback ? null : feedback">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

                <!-- <mat-row id="labels" class="labels">
                    <td class="viewColumn">

                    </td>
                    <td>
                        Feedback ID:
                    </td>
                    <td>
                        Completed By:
                    </td>
                    <td>
                        Date Completed:
                    </td>
                    <td>
                        Feedback Type:
                    </td>
                    <td>
                        Product:
                    </td>
                    <td>
                        Respondee Type:
                    </td>
                    <td>
                        Respondee Name:
                    </td>
                    <td>
                        Call Duration:
                    </td>
                    <td>
                        Time Submitted:
                    </td>
                </mat-row>
                <mat-row rowspan="2" [id]="'feedback' + feedback.feedbackid" *ngFor="let feedback of subFeedbackList">
                    <td class="viewColumn">
                        <button class="viewText" (click)="viewAnswers(feedback)">
                            VIEW    
                        </button>
                    </td>
                    <td>
                        {{feedback.feedbackid}}
                    </td>
                    <td>
                        {{feedback.Fullname}}
                    </td>
                    <td>
                        {{feedback.datecompleted}}
                    </td>
                    <td>
                        {{feedback.feedback_name}}
                    </td>
                    <td>
                        {{feedback.product_name}}
                    </td>
                    <td>
                        {{feedback.respondee_type}}
                    </td>
                    <td>
                        {{feedback.RespondeeName}}
                    </td>
                    <td>
                        {{feedback.callduration}}
                    </td>
                    <td>
                        {{feedback.datesubmitted}}
                    </td>
                </mat-row> -->
                <!-- <tr class="answer-labels">
                    <td class="answerWidth">
                        Feedback ID
                    </td>
                    <td class="answerWidth">
                        Question Name
                    </td>
                    <td class="answerWidth">
                        Answer
                    </td>
                    <td class="answerWidth">
                        Rating
                    </td>
                </tr>
                <tr *ngFor="let answer of retrievedAnswers" class="answer-text">
                    <td class="answerWidth">
                        {{answer.feedbackid}}
                    </td>
                    <td class="answerWidth">
                        {{answer.question_name}}
                    </td>
                    <td class="answerWidth">
                        {{answer.review}}
                    </td>
                    <td class="answerWidth">
                        {{answer.rating}}
                    </td>
                </tr> -->
            </table>
        </mat-card>

        <button (click)="test()">
            test
        </button>
    </div>    
</body>

