<body id="router" > 
    <div class="container">
        <nav id="navbar" class="navbar">
            <ul class="navbar-nav">
                <li id="btnFeedbackContainer" class="nav-item">
                    <app-primary-button buttontext="Feedback Form" 
                                        routerLink="feedback"></app-primary-button>
                </li>
                <li id="btnFeedbackListContainer" class="nav-item">
                    <app-primary-button buttontext="Answer Form" 
                                        routerLink="answer"
                                        matTooltip="Select this if you only want to input answers"></app-primary-button>
                </li>
                <li id="btnFeedbackListContainer" class="nav-item">
                    <app-primary-button buttontext="Past Feedback" 
                                        routerLink="feedbacklist"></app-primary-button>
                </li>
            </ul>
        </nav>
    </div>
</body>

<router-outlet></router-outlet>