@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

h1 {
    text-align: center;
    padding-top: 2vh;
}

#buttonsTable {
    margin: auto;
}

td {
    text-align: center;
    margin: auto;
    width: 33vw;
    /* border: 0.5px solid black; */
}

#header {
    top: 0;
}

#router {
    height: auto;
}

li {
    margin-left: 2vw;
    margin-right: 2vw;
}

.navbar{
    padding-top: 32px;
    display: block;
}

.navbar-nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav-item{
    margin-left: 16px;
    margin-right: 16px;
}