<!-- card for entering the information into the database -->
<form #form="ngForm" id="responseInputForm">

        <mat-card class="questionAutoComplete noBorder">
            <div class="smlbuffer">  </div>
            <mat-label for="question">
                Select a question:
            </mat-label>

            <input type="text"
                    name="question"
                    class="form-select label-buffer"
                    placeholder="(Optional) Select a Question Source"
                    aria-label="question"
                    [formControl]="myControlQuestionSource"
                    [matAutocomplete]="autoQuestionSource"
                    id="autoQuestionSource"
                    (keyup)="QuestionInputFn($event)"
                    required>
            <mat-autocomplete #autoQuestionSource="matAutocomplete"
            (optionSelected)="groupFilter(this.myControlQuestionSource.value)">
                    <mat-option *ngFor="let question of subQuestionList" disabled
                                [value]="question">
                                {{question || 'Loading...'}}
                    </mat-option>
            </mat-autocomplete>
            
            <div class="buffer">  </div>

            <input  *ngIf="writeOwnQuestion == false"
                    type="text"
                    name="question"
                    [(ngModel)]="newQuestion.questionname"
                    class="form-select label-buffer"
                    placeholder="Select a question"
                    aria-label="question"
                    [formControl]="myControlQuestion"
                    [matAutocomplete]="autoQuestion"
                    id="autoQuestion"
                    (keyup)="QuestionInputFn($event)"
                    required>
            <mat-autocomplete #autoQuestion="matAutocomplete">
                    <mat-option *ngFor="let question of QuestionList"
                                [value]="question.question_name">
                                {{question.question_name || 'Loading...'}}
                    </mat-option>
            </mat-autocomplete>

            <mat-form-field *ngIf="writeOwnQuestion == true" class="questionInput">
                    <mat-label>Write your own question</mat-label>
                    <input name="createdQuestion" [(ngModel)]="newQuestion.questionname" matInput >
            </mat-form-field>

            <button *ngIf="writeOwnQuestion == false" type="button" class="hinttext" (click)="writeOwnQuestion = !writeOwnQuestion">Write my own question</button>
            <button *ngIf="writeOwnQuestion == true" type="button" class="hinttext" (click)="writeOwnQuestion = !writeOwnQuestion">Choose a pre-written question</button>

            <div class="buffer">  </div>
            <mat-form-field class="example-full-width response" appearance="fill" hintLabel="">
                <mat-label>Response</mat-label>
                <textarea matInput 
                        #matInput 
                        placeholder="" 
                        maxlength="300" 
                        [(ngModel)]="newQuestion.response"
                        [formControl]="myControlResponse"></textarea>
                <span class="charCounter"> {{ matInput.value.length }} / 300 </span>
            </mat-form-field>

            <div id="ratingContainer">
                <div>
                    <mat-label>Rating: </mat-label>  
                </div>
               
                <input matInput
                        (keyup)="ratingInputValidator($event)"
                        id="responseInput"
                        type="number" 
                        placeholder="1-5" 
                        [(ngModel)]="newQuestion.rating"
                        [formControl]="myControlRating">
            </div>
        </mat-card>
</form>


